@import './../../der-reader-variables.scss';

.files-list {
    h2 {
        padding: 1em 0 0;
        color: $white;
        font-size: 15px;
        line-height: 150%;
        font-weight: normal;
        text-align: center;
    }
}
