body {
    font-family: 'Arial', sans-serif;
}

h1 {
    color: grey
}

.row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 62.5rem;
    overflow: hidden;
}

.column, .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
}

.small-2 {
    width: 16.66667%;
}

img {
    max-width: 100%;
    height: auto;
}

#zone {
    width: 100%;
    height: 300px;
    background-color: #f0f0f0;
    display: block;
}

footer {
    margin-top: 30px;
    padding: 10px;
    border-top: solid 1px grey;
    clear: both;
    text-align: center;
    overflow: hidden;
}
