html, body {
    margin:0
}
#adunit {
    width: 728px;
    height: 90px;
    position: fixed;
    bottom: 22px;
    right: 0;
}
#canvas {
  position:fixed; z-index: 100;
  top:0;right:0;bottom:0;left:0;
  width:100%;height:100%;
  background: white;
}
#non-ruler {margin: 1em; position:fixed; width: 200px; bottom: 0; left: 0}
/* copied from stackoverflow: */
kbd{
  padding:2px 4px;
  white-space:nowrap;
  color:#000;
  background:#eee;
  border-width:1px 3px 3px 1px;
  border-style:solid;
  border-color:#ccc #aaa #888 #bbb;
  width: 296px;
}
#rating_area {
    position: fixed;
    bottom: 200px;
    right: 0;
    width: 450px;
}
