@import './../../der-reader-variables.scss';

.message {
    color: $red;
    font-size: 42px;
    line-height: 1.42;
    position: absolute;
    z-index: 10;
    width: 100%;
    span {
        text-align: center;
        display: block;
        font-weight: bold;
        padding: 10px;
        margin-top: 20%;
        &.error {
            // background-color: $red;
        }
        &.info {
            background-color: $green;
        }
    }
}
