@import './../../der-reader-variables.scss';

.switch-title {
  color: white;
  margin-bottom: 10px;
  font-size: 1.2em;
  text-align: center;
}

.switch-button {
  height: 40px;
  text-align: center;
  will-change: transform;
  z-index: 197 !important;
  cursor: pointer;
  transition: .3s ease all;
  border-radius: $base-border-radius;
  border: 2px solid white;
  &-case{
    font-size: 1em;;
    display: inline-block;
    background: none;
    width: 50%;
    height: 100%;
    color: white;
    position: relative;
    border: none;
    transition: .3s ease all;
    font-weight: bold;
    padding-bottom: 1px;
    &:hover{
      background: darken(white, 10%);
      color: black;
      cursor: pointer;
    }
    &:focus {
      outline: none;
    }
  }
  .active {
    color: #151515;
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
    transition: .3s ease-out all;
    &-case{
      color: #151515;
    }

    &.left {
      left: 0;
    }

    &.right {
      left: 50%;
    }
  }
}

.choose-element {
  text-align: center;
  font-weight: 700;
  display: block;
  cursor: pointer;
  border-radius: $base-border-radius;
  width: 100%;
  min-height: 2em;
  margin-top: 10px;
  padding: 0.625rem 1.25rem;
  height: 100%;
  color: $black;
  background-color: transparent;
  border: 3px solid $white;
  width: 100%;
  min-height: 2em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: top;
}
