@import './../../der-reader-variables.scss';

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

    & + label {
        color: $white;
        background-color: $black;
        border: 3px solid $white;
        padding: 0;
        &.fill {
            color: $blue;
            border-color: $blue;
        }
        span {
            width: 100%;
            min-height: 2em;
            display: inline-block;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            vertical-align: top;

        }
        strong {
            height: 100%;
            color: $white;
            background-color: $black;
            display: block;
        }
    }
    &:focus + label {
        outline: 1px dotted #000;
        outline: -webkit-focus-ring-color auto 5px;
    }
}

.inputfile + label {
    text-align: center;
    font-weight: 700;
    display: block;
    cursor: pointer;
    border-radius: $base-border-radius;
}

.inputfile + label:hover {
    border-color: $blue;
    color: $blue;
}

.inputfile + label span,
.inputfile + label strong {
    padding: .8em 1em;
    /* 10px 20px */
}

.inputfile:focus + label strong,
.inputfile.has-focus + label strong,
.inputfile + label:hover strong {
    background-color: $blue;
}
