@import './der-reader-variables.scss';


// General

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 32px; // Base size for fonts
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    font-size: 96px; // Base size for layout
}

// Layout
.container {
  position: absolute;
  top: 0;
  left: 0;
}

.der-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
  overflow: hidden;
}

.button {
  position: absolute;
  z-index: 900;
  top: 2.5%;
  &#filters {
    left: 2.5%;
  }

  &#menu {
    right: 2.5%;
  }
}

.A3 .container, .A3 .der-container svg, .A3 .modal {
  width: 16.5354331em;
  height: 11.6929134em;
}

.A4 .container, .A4 .der-container svg, .A4 .modal {
  width: 11.6929134em;
  height: 8.26771654em;
}

.A5 .container, .A5 .der-container svg, .A5 .modal {
  width: 8.26771654em;
  height: 5.82677165em;
}
