@import './der-reader-variables.scss';


// General

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-size: 100%;
    font-size: 22pt;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

svg {
    width: 100%;
    height: auto;
}

// Layout

.container {
    display: flex;
    height: 100%;
}

.der-container {
    flex: 1;
    overflow: hidden;
}

.nav-buttons {
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 999;
  padding: 2.5% 2.5% 0 2.5%;
  .button {
    padding: .2em .6em;
    width: auto;
    border-radius: 0;
    margin: 0;
    &.open-filters {
      float: left;
    }

    &.open-menu {
      float: right;
    }
  }
}
